
.rectangle{
    position: absolute;
width: 428px;
height: 410px;
left: 0px;
top: 510px;

background: #FFFFFF;
border-radius: 40px 40px 0px 0px;
}
.description{
    position: absolute;
width: 384px;
height: 111px;
left: 23px;
top: 628px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

letter-spacing: 0.05em;

color: #828282;
}
.sub{
    position: absolute;
width: 430px;
height: 128px;
left: px;
top: 505px;
background-color:#FFFFFF;
border-radius: 25px;
}
.cost{
    position: absolute;
width: 56px;
height: 53.17px;
left: 352px;
top: 545.13px;
}
.temp{
    position: absolute;
width: 65px;
height: 65px;
left: 22px;
top: 761px;
}
.max{
    position: absolute;
width: 65px;
height: 65px;
left: 129px;
top: 761px;
}
.awg{
    position: absolute;
width: 65px;
height: 65px;
left: 236px;
top: 761px;
}
.min{
    position: absolute;
width: 65px;
height: 65px;
left: 343px;
top: 761px;
}
.buttom{
    position: absolute;
width: 387px;
height: 50px;
left: 20px;
top: 852px;
}
.return{
    position: absolute;
width: 44px;
height: 44px;
left: 24px;
top: 28px;
}